In [2]:
import pandas as pd

### Chargement des csv

In [3]:
df_movies = pd.read_csv('movies.csv', encoding='latin-1',sep = ';')

In [4]:
df_actors = pd.read_csv('Actors.csv', encoding='latin-1', sep = ';')

In [5]:
df_writers = pd.read_csv('Writers.csv', encoding='latin-1', sep = ';')

In [6]:
df_directors = pd.read_csv('Directors.csv', encoding='latin-1', sep = ';')

In [7]:
df_theaters= pd.read_csv('Theater.csv', encoding='latin-1', sep = ';')

In [8]:
df_movies['genres2'] = df_movies['genres'].apply(lambda x: x.split(','))

In [9]:
df_schedules= pd.read_excel('Schedule.xlsx')

### Transformation des dataframes en listes de listes:

In [10]:
# transformation dataframe en liste de listes: 
list_movies = df_movies.values.tolist() # movie
list_actors = df_actors.values.tolist() # actors
list_writers = df_writers.values.tolist() # writers
list_directors = df_directors.values.tolist() # directors
list_theaters = df_theaters.values.tolist() # theaters
list_schedules = df_schedules.values.tolist() # schedules

In [11]:
df_movies

,Nom_individu,title,genres,start_released_date,country,langage,duration,genres2
0,Pulp_Fiction,Pulp Fiction,"Crime,Thriller",1994,USA,English,154,"[Crime, Thriller]"
1,Kill_Bill,Kill Bill (volume 1),"Action,Crime,Thriller",2003,USA,English,111,"[Action, Crime, Thriller]"
2,GodFather,The Godfather,"Drame,Crime",1972,USA,English,175,"[Drame, Crime]"
3,Shawshank_Redemption,The Shawshank Redemption,"Drame,Crime",1994,USA,English,142,"[Drame, Crime]"
4,Lord_Rings_RoK,The Lord of the Rings: The Return of the King,Action,2003,USA,English,201,[Action]
5,Forrest_Gump,Forrest Gump,"Drama,Comedy",1994,USA,English,142,"[Drama, Comedy]"
6,Interstellar,Interstellar,Drama,2014,USA,English,169,[Drama]
7,Amelie,Amélie,Comedy,2001,France,French,122,[ Comedy]
8,Parasite,Parasite,"Drama,Comedy",2019,South-Korea,Korean,132,"[Drama, Comedy]"
9,Gladiator,Gladiator,"Action,Drama",2000,USA,English,155,"[Action, Drama]"
10,La_La_Land,La La Land,Comedy,2016,USA,English,128,[Comedy]
11,Inception,Inception,Action,2010,USA,English,148,[Action]
12,Dark_Knight,The Dark Knight,Action,2008,USA,English,152,[Action]
13,Adele,La Vie d'Adèle,Drama,2013,France,French,160,[Drama]
14,Budapest_Hotel,The Grand Budapest Hotel,Comedy,2014,USA,English,100,[Comedy]
15,Social_Network,The Social Network,Drama,2010,USA,English,160,[Drama]
16,Matrix,The Matrix,Action,1999,USA,English,136,[Action]
17,Silence_Lambs,The Silence of the Lambs,Thriller,1991,USA,English,118,[Thriller]
18,City_God,City of God,"Drama,Crime",2002,Brazil,Portuguese,130,"[Drama, Crime]"
19,Intouchables,Intouchables,"Comedy,Drama",2011,France,French,112,"[Comedy, Drama]"

### Avec cette méthode, on obtient au final 4 fichiers contenant respectivement:
1.Déclaration 
2.Les Class Assertion 
3. Les data properties 
4.Les objects properties

### Conversion Movies en Owl

In [12]:
f1=open(r'Declaration.txt','w')
f2=open(r'Class_Assertion.txt','w')
f3=open(r'Data_property.txt','w')
c=0
for l in list_movies:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration des classes:
    # transformation valeur theme en liste, si plusieurs thèmes: 
    test = l[2].split(',')
    if(len(test) == 1): # on écrit la seule classe
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')

    if(len(test) == 2): # on écrit les deux classes
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n')
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[1] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')

    if(len(test) == 3): # on écrit les trois classes
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n')
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[1] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n')
        f2.write('<ClassAssertion>\n\t<Class IRI="#'+ test[2] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')

    # Déclaration des attributs de l'individu
    # titre l[0], marche pas encore, je me demande si ce n'est pas à cause du kill bill (volume 1) erreur utf-8
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#title"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal>' + str(l[1]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # country l[4]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#country"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[4]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # language l[5]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#language"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[5]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    #durée l[6]: 
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#duration"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#positiveInteger">' + str(l[6]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    
    # Déclaration object property # il n'y en a pas, se fait à partir des dataframes actors, writers, directors et theaters 
    #f2.write(l)
f1.close()
f2.close()
f3.close()

### Conversion Actors en Owl

In [13]:
df_actors

,Nom_individu,genre,Lastname,Firstname,age,nationality,Movie
0,T.John,M,Travolta,John,59,American,Pulp_Fiction
1,T.Uma,W,Thurman,Uma,43,American,Pulp_Fiction
2,F.Morgan,M,Freeman,Morgan,84,American,Shawshank_Redemption
3,R.Tim,M,Robbins,Tim,63,American,Shawshank_Redemption
4,B.Marlon,M,Brando,Marlon,dead,American,GodFather
5,P.Al,M,Pacino,Al,82,American,GodFather
6,J.Samuel L.,M,Jackson,Samuel L.,73,American,Pulp_Fiction
7,W.Elijah,M,Wood,Elijah,41,American,Lord_Rings_RoK
8,M.Viggo,M,Mortensen,Viggo,63,American,Lord_Rings_RoK
9,H.Tom,M,Hanks,Tom,66,American,Forrest_Gump
10,W.Robin,W,Wright,Robin,56,American,Forrest_Gump
11,McC.Matthew,M,McConaughey,Matthew,52,American,Interstellar
12,H.Anne,W,Hathaway,Anne,39,American,Interstellar
13,K.Song,M,Kang-ho,Song,54,South Korean,Parasite
14,S.Lee,M,Sun-kyun,Lee,46,South Korean,Parasite
15,S.Omar,M,Sy,Omar,45,French,Intouchables
16,E.Adèle,W,Exarchopoulos,Adèle,29,French,Adele
17,E.Jesse,M,Eisenberg,Jesse,39,American,Social_Network
18,D.Leonardo,M,DiCaprio,Leonardo,48,American,Inception

In [14]:
f1=open(r'Declaration.txt','a')
f2=open(r'Class_Assertion.txt','a')
f3=open(r'Data_property.txt','a')
f4=open(r'Object_property.txt','w')
c=0
for l in list_actors:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration des classes:
    f2.write('<ClassAssertion>\n\t<Class IRI="#Actor"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # également genre male ou female: 
    if(l[1] == 'M'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Male"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    elif(l[1] == 'W'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Female"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # Déclaration des attributs de l'individu    
    # lastname l[2]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#lastname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[2]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # firstname l[3]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#firstname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[3]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    #age l[4]: 
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#age"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#positiveInteger">' + str(l[4]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    
    # nationality l[5]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#nationality"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[5]) + '</Literal>\n</DataPropertyAssertion>\n\n')
        
    # Déclaration object property # isActorOf et hasActor: 
    # hasActor domain = movie et range = actor
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#hasActor"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ObjectPropertyAssertion>\n\n')
    # isActorOf domain = actor et range = movie
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#isActorOf"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n</ObjectPropertyAssertion>\n\n')
    #f2.write(l)
f1.close()
f2.close()
f3.close()
f4.close()

In [15]:
list_actors

[['T.John', 'M', 'Travolta', 'John', '59', 'American', 'Pulp_Fiction'],
 ['T.Uma', 'W', 'Thurman', 'Uma\xa0', '43', 'American', 'Pulp_Fiction'],
 ['F.Morgan',
  'M',
  'Freeman ',
  'Morgan ',
  '84',
  'American',
  'Shawshank_Redemption'],
 ['R.Tim', 'M ', 'Robbins', 'Tim', '63', 'American', 'Shawshank_Redemption'],
 ['B.Marlon', 'M', 'Brando', 'Marlon', 'dead', 'American', 'GodFather'],
 ['P.Al', 'M', 'Pacino ', 'Al', '82', 'American', 'GodFather'],
 ['J.Samuel L.',
  'M',
  'Jackson',
  'Samuel L.',
  '73',
  'American',
  'Pulp_Fiction'],
 ['W.Elijah', 'M', 'Wood ', 'Elijah ', '41', 'American', 'Lord_Rings_RoK'],
 ['M.Viggo', 'M', 'Mortensen', 'Viggo ', '63', 'American', 'Lord_Rings_RoK'],
 ['H.Tom', 'M', 'Hanks', 'Tom', '66', 'American', 'Forrest_Gump'],
 ['W.Robin', 'W', 'Wright', 'Robin', '56', 'American', 'Forrest_Gump'],
 ['McC.Matthew',
  'M',
  'McConaughey ',
  'Matthew ',
  '52',
  'American',
  'Interstellar'],
 ['H.Anne', 'W', 'Hathaway', 'Anne ', '39', 'American', 'Interstellar'],
 ['K.Song', 'M', 'Kang-ho', 'Song', '54', 'South Korean', 'Parasite'],
 ['S.Lee', 'M', 'Sun-kyun', 'Lee', '46', 'South Korean', 'Parasite'],
 ['S.Omar', 'M ', 'Sy', 'Omar', '45', 'French', 'Intouchables'],
 ['E.Adèle', 'W', 'Exarchopoulos', 'Adèle', '29', 'French', 'Adele'],
 ['E.Jesse', 'M ', 'Eisenberg', 'Jesse', '39', 'American', 'Social_Network'],
 ['D.Leonardo', 'M ', 'DiCaprio', 'Leonardo', '48', 'American', 'Inception']]

In [16]:
df_directors

,Nom_individu,genre,Lastname,Firstname,age,nationality,Movie
0,T.Quentin,M,Tarantino,Quentin,53,American,Pulp_Fiction
1,T.Quentin,M,Tarantino,Quentin,53,American,Kill_Bill
2,D.Frank,M,Darabont,Frank,63,American,Shawshank_Redemption
3,C.FrancisF,M,Coppola,Francis Ford,83,American,GodFather
4,J.Peter,M,Jackson,Peter,60,New-Zealand,Lord_Rings_RoK
5,R.Zemeckis,M,Robert,Zemeckis,70,American,Forrest_Gump
6,N.Christopher,M,Nolan,Christopher,51,English,Interstellar
7,J.Bong,M,Joon-ho,Bong,52,South Korean,Parasite
8,C.Damien,M,Chazelle,Damien,38,American,La_La_Land
9,F.David,M,Fincher,David,60,American,Social_Network
10,N.Olivier,M,Nakache,Olivier,49,French,Intouchables
11,M.Fernando,M,Meirelles,Fernando,67,Brazilian,City_God
12,J.Jean-Pierre,M,Jeunet,Jean-Pierre,69,French,Amelie
13,R.Scott,M,Ridley,Scott,85,American,Gladiator
14,N.Christopher,M,Nolan,Christopher,51,English,Inception
15,N.Christopher,M,Nolan,Christopher,51,English,Dark_Knight
16,K.Abdellatif,M,Kechiche,Abdellatif,62,French,Adele
17,A.Wes,M,Anderson,Wes,53,American,Budapest_Hotel
18,W.Lana,F,Waschowskis,Lana,57,American,Matrix
19,W.Lili,F,Waschowskis,Lili,55,American,Matrix
20,D.Jonathan,M,Demme,Jonathan,73,American,Silence_Lambs

### Conversion Directors en Owl

In [17]:
f1=open(r'Declaration.txt','a')
f2=open(r'Class_Assertion.txt','a')
f3=open(r'Data_property.txt','a')
f4=open(r'Object_property.txt','a')
c=0
for l in list_directors:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration des classes:
    #déclaration des 
    # transformation valeur theme en liste, si plusieurs thèmes: 
    f2.write('<ClassAssertion>\n\t<Class IRI="#Director"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # également genre male ou female: 
    if(l[1] == 'M'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Male"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    elif(l[1] == 'W'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Female"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # Déclaration des attributs de l'individu    
    # lastname l[2]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#lastname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[2]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # firstname l[3]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#firstname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[3]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    #age l[4]: 
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#age"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#positiveInteger">' + str(l[4]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    
    # nationality l[5]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#nationality"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[5]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # Déclaration object property # isActorOf et hasActor: 
    # hasActor domain = movie et range = actor
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#hasDirector"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ObjectPropertyAssertion>\n\n')
    # isActorOf domain = actor et range = movie
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#isDirectorOf"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n</ObjectPropertyAssertion>\n\n')
    #f2.write(l)
f1.close()
f2.close()
f3.close()
f4.close()

### Conversion Writers en Owl

In [18]:
df_writers

,Nom_individu,genre,Lastname,Firstname,age,nationality,Movie
0,T.Quentin,M,Tarantino,Quentin,53,American,Pulp_Fiction
1,T.Uma,F,Thurman,Uma,43,American,Kill_Bill
2,D.Frank,M,Darabont,Frank,63,American,Shawshank_Redemption
3,P.Mario,M,Puzo,Mario,115,American,GodFather
4,T.J,M,Tolkien,J.R.R.,120,American,Lord_Rings_RoK
5,G.Winston,M,Groom,Winston,160,American,Forrest_Gump
6,N.Jonathan,M,Nolan,Jonathan,46,English,Interstellar
7,J.Bong,M,Joon-ho,Bong,52,South Korean,Parasite
8,M.Bráulio,M,Mantovanie,Bráulio,59,Brazilian,City_God
9,J.JPierre,M,Jeunet,Jean-Pierre,69,French,Amelie
10,F.David,M,Franzoni,David,75,American,Gladiator

In [19]:
f1=open(r'Declaration.txt','a')
f2=open(r'Class_Assertion.txt','a')
f3=open(r'Data_property.txt','a')
f4=open(r'Object_property.txt','a')
c=0
for l in list_writers:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration des classes:
    # transformation valeur theme en liste, si plusieurs thèmes: 
    f2.write('<ClassAssertion>\n\t<Class IRI="#Writer"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # également genre male ou female: 
    if(l[1] == 'M'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Male"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    elif(l[1] == 'W'):
        f2.write('<ClassAssertion>\n\t<Class IRI="#Female"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # Déclaration des attributs de l'individu    
    # lastname l[2]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#lastname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[2]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # firstname l[3]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#firstname"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[3]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    #age l[4]: 
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#age"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#positiveInteger">' + str(l[4]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    
    # nationality l[5]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#nationality"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[5]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    
    # Déclaration object property # isActorOf et has Actor: 
    # hasactor domain = movie et range = actor
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#hasWriter"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ObjectPropertyAssertion>\n\n')
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#isWriterOf"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<NamedIndividual IRI="#'+ l[6] +'"/>\n</ObjectPropertyAssertion>\n\n')
    #f2.write(l)
f1.close()
f2.close()
f3.close()
f4.close()

### Conversion Theaters en Owl

In [20]:
df_schedules

,Nom_individu,end_released_date,start_released_date,Nom_film,Nom_Cinema,Unnamed: 5,Unnamed: 6
0,schedule1,1997-02-09T10:30:00,1994-02-09T10:30:00,Pulp_Fiction,TCL,NaN,NaN
1,schedule2,1997-02-09T10:30:01,2003-01-09T10:30:01,Pulp_Fiction,TADC,NaN,TCL
2,schedule3,1997-02-09T10:30:02,1972-04-04T10:30:02,Kill_Bill,RCMH,NaN,TADC
3,schedule4,1997-02-09T10:30:03,1994-02-12T10:30:03,Kill_Bill,TCL,NaN,RCMH
4,schedule5,1997-02-09T10:30:04,2003-02-10T10:30:04,GodFather,TADC,NaN,NaN
5,schedule6,1997-02-09T10:30:05,1994-02-09T10:30:05,GodFather,RCMH,NaN,NaN
6,schedule7,1997-02-09T10:30:06,2014-02-09T10:30:06,Shawshank_Redemption,TADC,NaN,NaN
7,schedule8,1997-02-09T10:30:07,2001-06-09T10:30:07,Shawshank_Redemption,TCL,NaN,NaN
8,schedule9,1997-02-09T10:30:08,2019-08-09T10:30:08,Lord_Rings_RoK,TADC,NaN,NaN
9,schedule10,1997-02-09T10:30:09,2000-03-03T10:30:09,Lord_Rings_RoK,RCMH,NaN,NaN
10,schedule11,1997-02-09T10:30:10,2016-01-09T10:30:10,Forrest_Gump,TCL,NaN,NaN
11,schedule12,1997-02-09T10:30:11,2010-12-09T10:30:11,Forrest_Gump,UGC_Paris,NaN,NaN
12,schedule13,1997-02-09T10:30:12,2008-11-12T10:30:12,Interstellar,TCL,NaN,NaN
13,schedule14,1997-02-09T10:30:13,2013-02-09T10:30:13,Interstellar,UGC_Paris,NaN,NaN
14,schedule15,1997-02-09T10:30:14,2014-02-09T10:30:14,Amelie,TADC,NaN,NaN
15,schedule16,1997-02-09T10:30:15,2010-09-09T10:30:15,Amelie,RCMH,NaN,NaN
16,schedule17,1997-02-09T10:30:16,1999-08-09T10:30:16,Parasite,CJN,NaN,NaN
17,schedule18,1997-02-09T10:30:17,1991-04-09T10:30:17,Parasite,TLL,NaN,NaN
18,schedule19,1997-02-09T10:30:18,2002-02-12T10:30:18,Gladiator,CJN,NaN,NaN
19,schedule20,1997-02-09T10:30:19,2011-02-09T10:30:19,Gladiator,TLL,NaN,NaN

In [21]:
f1=open(r'Declaration.txt','a')
f2=open(r'Class_Assertion.txt','a')
f3=open(r'Data_property.txt','a')
c = 0
for l in list_theaters:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration de la classe theater:
    f2.write('<ClassAssertion>\n\t<Class IRI="#theater"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # Déclaration des attributs de l'individu    
    # name l[1]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#name"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[1]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    # location l[2]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#location"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n\t<Literal>' + str(l[2]) + '</Literal>\n</DataPropertyAssertion>\n\n')
    # Déclaration object property # hasSchedule, pas encore de schedule, créer une table csv
    #f2.write(l)
f1.close()
f2.close()
f3.close()

### Conversion Schedules en Owl

In [22]:
f1=open(r'Declaration.txt','a')
f2=open(r'Class_Assertion.txt','a')
f3=open(r'Data_property.txt','a')
f4=open(r'Object_property.txt','a')
c=0
for l in list_schedules:
    c=c+1
    # Déclaration individu 
    f1.write('<Declaration>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n</Declaration> \n\n')
    # Déclaration de la classe theater:
    f2.write('<ClassAssertion>\n\t<Class IRI="#Schedule"/>\n\t<NamedIndividual IRI="#'+ l[0] +'"/>\n</ClassAssertion>\n\n')
    # Déclaration des attributs de l'individu    
    # released_date l[1]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#released_date"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#dateTime">' + str(l[1]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    # end_released_date l[2]
    f3.write('<DataPropertyAssertion>\n\t<DataProperty IRI="#end_released_date"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<Literal datatypeIRI="http://www.w3.org/2001/XMLSchema#dateTime">' + str(l[2]) + '</Literal>\n</DataPropertyAssertion>\n\n')    
    # Déclaration object property # hasSchedule et isSchedule, pas encore de schedule, créer une table csv
    #f2.write(l)
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#isSchedule"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<NamedIndividual IRI="#'+ str(l[3]) +'"/>\n</ObjectPropertyAssertion>\n\n')    
    f4.write('<ObjectPropertyAssertion>\n\t<ObjectProperty IRI="#hasSchedule"/>\n\t<NamedIndividual IRI="#'+ str(l[0]) +'"/>\n\t<NamedIndividual IRI="#'+ str(l[4]) +'"/>\n</ObjectPropertyAssertion>\n\n')    
f1.close()
f2.close()
f3.close()
f4.close()